/**
*	@version	$Id: all.css 49 2013-04-23 01:37:21Z linhnt $
*	@package	OMG Template Framework for Joomla! 2.5
*	@subpackage	plg_omgshortcodes plugin for shortcodes
*	@copyright	Copyright (C) 2009 - 2013 Omegatheme. All rights reserved.
*	@license	GNU/GPL version 2, or later
*	@website:	http://www.omegatheme.com
*	Support Forum - http://www.omegatheme.com/forum/
*/

/* ================= BACKEND =====================*/
.shortcode-buttons{ overflow: hidden; }
.button2-left{ margin-bottom: 5px; }
.button2-left .bsc-badge{ background: url("") no-repeat 100% 0 transparent; }
.button2-left .bsc-button{ background: url("") no-repeat 100% 0 transparent; }
.button2-left .bsc-carousel{ background: url("") no-repeat 100% 0 transparent; }
.button2-left .bsc-column{ background: url("") no-repeat 100% 0 transparent; }
.button2-left .bsc-dropcap{ background: url("") no-repeat 100% 0 transparent; }
.button2-left .bsc-icon{ background: url("") no-repeat 100% 0 transparent; }
.button2-left .bsc-label{ background: url("") no-repeat 100% 0 transparent; }
.button2-left .bsc-message{ background: url("") no-repeat 100% 0 transparent; }
.button2-left .bsc-modals{ background: url("") no-repeat 100% 0 transparent; }
.button2-left .bsc-modalu{ background: url("") no-repeat 100% 0 transparent; }
.button2-left .bsc-modali{ background: url("") no-repeat 100% 0 transparent; }
.button2-left .bsc-oprettycode{ background: url("") no-repeat 100% 0 transparent; }
.button2-left .bsc-spacer{ background: url("") no-repeat 100% 0 transparent; }
.button2-left .bsc-tabs{ background: url("") no-repeat 100% 0 transparent; }
.button2-left .bsc-tooltip{ background: url("") no-repeat 100% 0 transparent; }
.button2-left .bsc-well{ background: url("") no-repeat 100% 0 transparent; }
.button2-left .bsc-vimeo{ background: url("") no-repeat 100% 0 transparent; }
.button2-left .bsc-youtube{ background: url("") no-repeat 100% 0 transparent; }

/* ============ end BACKEND css =====================*/

/*================= Prettyprint =================*/
.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}

/*================= bootstrap modal =================*/

.modal-body {
    max-height: 400px;
    overflow-y: auto;
    padding: 15px;
    position: relative;
}
.modal-body iframe{
	min-height: 360px;
	overflow-y: auto;
}
/*================= bootstrap button =================*/
.btn {outline: none;}
/*================= bootstrap tabs =================*/
.nav-tabs > li > a{
	outline: none;
}
/*============ dropcap =============*/
.dropcap {
	float: left;
	padding: 2px 6px 2px 2px;
	font-family: Georgia, serif;
	font-size: 200%;
	line-height: 100%;
}
.dropcap.circle{
	padding: 6px;
	border-radius: 16px;
}
.dropcap.square{
	padding: 6px;
	border-radius: 2px;
}
