 /* 
/*------------------------------------------------------------------------
 # Flexible Dropdown Shopping Cart   - Version 2.0
 # ------------------------------------------------------------------------
 # Copyright (C) 2013 Flexible Web Design. All Rights Reserved.
 # @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 # Author: Flexible Web Design Team
 # Websites: http://www.flexiblewebdesign.com
 -------------------------------------------------------------------------*/
 @import url("css-1.css");
 
 #vmCartModule {
	text-transform: uppercase;
	padding: 0px;
	position:relative;
	display:inline-block;
	text-align:left;
	margin: 45px 0 0 50px;
}
.show_products {
	display: block !important;
	position: absolute;
	z-index: 999;
}
#product_list {
	position: absolute;
	z-index: 999;
	min-height: 20px;
	padding: 10px;
	-webkit-box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    		box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}
#hiddencontainer {
	display: none;
}
#vmCartModule .cartTitle {
	font-weight:bold;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size:14px;
	border-bottom: 1px solid #ddd;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	margin:-10px -10px 10px;
	padding:10px;
	color:#555;
	background:#eaeaea;
}
#vmCartModule .show_cart {
	padding-top: 10px;
	border-top: 1px solid #ddd;	
}
#vmCartModule .show_cart a {
    background-color: #E8715C;
    border: 1px solid #C94B3A;
    border-radius: 16px;
    box-shadow: 0 0 0 4px rgba(217, 217, 217, 0.6), 0 1px 0 0 rgba(255, 255, 255, 0.4) inset, 0 -1px 1px 0 rgba(0, 0, 0, 0.1) inset;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 15px;
    height: 12px;
    line-height: 12px;
    padding: 9px 12px;
    position: relative;
    text-align: center;
    transition: background-color 0.3s linear 0s;
    z-index: 2;
	float:right;
	font-family: 'Open Sans', sans-serif;
}

#vmCartModule .show_cart a:hover {			
	background-color: #ff8974;
}
 
#vmCartModule .sub_total {
	display:inline-block;
	font-family: 'Open Sans', sans-serif;
	margin:10px;
	font-size:16px;
}
.hide {
	display: none;
}

#vmCartModule .total:hover, #vmCartModule.carthover .total {
	cursor: pointer;
}
#vmCartModule .cartEmpty {
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 16px;
	font-size: 11px;
	text-align: center;
	padding: 10px 0px;
}
#vmCartModule .image {
	display: block;
}
#vmCartModule .product_row {
	width: 33%;
	display: block;
	float: left;
	padding-bottom: 10px;
}
#vmCartModule .product_row:nth-child(3):after {
	content:".";
	visibility:hidden;
	clear:both;
}
#vmCartModule .product_row_inner {
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1), 0px 0px 10px 8px rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1), 0px 0px 10px 8px rgba(0,0,0,0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1), 0px 0px 10px 8px rgba(0,0,0,0.05);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin:0 5px;
	padding-bottom:5px;
}
#vmCartModule .product_name_container, #vmCartModule .prices {
	display: block;
	text-align: center;
	font-weight:bold;
}
#vmCartModule .remove_button {
	visibility: hidden;
	text-align: center;
}
#vmCartModule div.vm_cart_products div.container div.remove_button a.vm2-remove_from_cart.vmicon {
	background:url("") no-repeat;
	margin-top:10px;
	width:44px;
	height:16px;
}
#vmCartModule .product_row:hover .remove_button {
	visibility: visible;
}
#vmCartModule .product_attributes {
	display: block;
	text-align: center;
	font-size:11px;
}
#vmCartModule .product_attributes {
	display: block;
	text-align: left;
}
#vmCartModule .image img {
	max-width: 100%;
}
div#vmCartModule div.container a {
	padding: 0px;
}
#vmCartModule #product_list:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 16px;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: #eaeaea transparent;    
}

#vmCartModule #product_list:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 14px;
    border-width: 0 12px 12px 12px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}
#vmCartModule #product_list {
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1), 0px 0px 10px 8px rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1), 0px 0px 10px 8px rgba(0,0,0,0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1), 0px 0px 10px 8px rgba(0,0,0,0.05);
	background-color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	top:45px;
}		 		
		.vm_cart_products .container { width: inherit !important; }
.vm_cart_products .container:after { clear:none; }
#product_list { z-index:99999999;}
#vmCartModule .loading {
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	right:0px;
	background:url("") no-repeat center center rgba(255,255,255,0.5);
}

#vmCartModule .flexibleNumber {
	background: none repeat scroll 0 0 #E8102C;
    border: 2px solid #FFFFFF;
    border-radius: 100%;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    display: block;
    font-size: 9px;
    font-weight: bold;
    height: 14px;
    left: 20px;
    line-height: 14px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: -2px;
    width: 14px;
}
#vmCartModule .total {
	position:relative;
	cursor:pointer;
	height:32px; 
	padding:0 5px 0 37px;
	background-repeat:no-repeat;
	background-size:auto 100%;
	line-height:32px; 
}
#vmCartModule .flexibleCartIcon {
	vertical-align:middle;
}
#vmCartModule .flexibleLabel { margin-left:5px;} 
		